@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 6.67%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 6.67%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 6.67%;
        --primary: 50.04 100% 53.92%;
        --primary-foreground: 0 0% 6.67%;
        --secondary: 213 28% 19%;
        --secondary-foreground: 0 0% 100%;
        --muted: 180 23.08% 97.45%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 180 23.08% 97.45%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 100% 38.43%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 180 5% 84.31%;
        --input: 0 0% 65.1%;
        --ring: 188.4 83.33% 88.2;
        --link: 208.13 100% 37.65%;
        --radius: 3px;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* styles.css */
.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
    animation: slideDown 200ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}
